a.fciA:hover {
    color: #fff;
    background:rgba(0,0,0,0.1);
  }

  a.fciA:after {
    left: -20px;
    -webkit-transition-property: left, opacity, top;
    -moz-transition-property: left, opacity, top;
    -o-transition-property: left, opacity, top;
    transition-property: left, opacity, top;
    -webkit-transition-duration: .2s, .2s, .2s;
    -moz-transition-duration: .2s, .2s, .2s;
    -o-transition-duration: .2s, .2s, .2s;
    transition-duration: .2s, .2s, .2s;
    content: "";
    width: 12px;
    height: 12px;
    background: transparent;
    position: absolute;
    border-left: 5px solid #444444;
    border-top: 5px solid #444444;
    top: -22px;
    opacity: 0;
  }

  a.fciA:hover:after {
    left: -10px;
    top: -12px;
    opacity: 1;
  }

  a.fciA:before {
    right: -20px;
    -webkit-transition-property: right, opacity, top;
    -moz-transition-property: right, opacity, top;
    -o-transition-property: right, opacity, top;
    transition-property: right, opacity, top;
    -webkit-transition-duration: .2s, .2s, .2s;
    -moz-transition-duration: .2s, .2s, .2s;
    -o-transition-duration: .2s, .2s, .2s;
    transition-duration: .2s, .2s, .2s;
    content: "";
    width: 12px;
    height: 12px;
    background: transparent;
    position: absolute;
    border-right: 5px solid #444444;
    border-top: 5px solid #444444;
    top: -22px;
    opacity: 0;
  }

  a.fciA:hover:before {
    right: -10px;
    top: -12px;
    opacity: 1;
  }

  .fciSpan:after {
    left: -20px;
    -webkit-transition-property: left, opacity, bottom;
    -moz-transition-property: left, opacity, bottom;
    -o-transition-property: left, opacity, bottom;
    transition-property: left, opacity, bottom;
    -webkit-transition-duration: .2s, .2s, .2s;
    -moz-transition-duration: .2s, .2s, .2s;
    -o-transition-duration: .2s, .2s, .2s;
    transition-duration: .2s, .2s, .2s;
    content: "";
    width: 12px;
    height: 12px;
    background: transparent;
    position: absolute;
    border-left: 5px solid #444444;
    border-bottom: 5px solid #444444;
    bottom: -24px;
    opacity: 0;
  }

  .fciSpan:hover:after {
    left: -10px;
    bottom: -14px;
    opacity: 1;
  }

  .fciSpan:before {
    right: -20px;
    -webkit-transition-property: right, opacity, bottom;
    -moz-transition-property: right, opacity, bottom;
    -o-transition-property: right, opacity, bottom;
    transition-property: right, opacity, bottom;
    -webkit-transition-duration: .2s, .2s, .2s;
    -moz-transition-duration: .2s, .2s, .2s;
    -o-transition-duration: .2s, .2s, .2s;
    transition-duration: .2s, .2s, .2s;
    content: "";
    width: 12px;
    height: 12px;
    background: transparent;
    position: absolute;
    border-right: 5px solid #444444;
    border-bottom: 5px solid #444444;
    bottom: -24px;
    opacity: 0;
  }

  .fciSpan:hover:before {
    right: -10px;
    bottom: -14px;
    opacity: 1;
  }